body{
    background-color: gainsboro !important;
}
input{
    box-shadow: 0px 0px 10px gray !important;
    max-width: 500px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
button{
    box-shadow: 0px 0px 10px gray !important;
    max-width: 500px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}